html {
  height: 100%;
  width: 100%;
  background-color: darkgrey;
}

/* Webpage Header */
header {
  color: white;
  padding: 3px;
  border-bottom: 1px solid white;
  background-color: grey;
  text-align: center;
  text-decoration: bold;
}

/* Nav-Bar Section*/
.nav-bar ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

.nav-bar li {
  display: inline;
  float: left;
  border-right: 1px solid white;
}

.nav-bar li a {
  display: block;
  text-align: center;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: rgb(50,50,50);
}

.nav-bar .active {
  background-color: rgb(50,50,50);
}

/* User Interests section */
h3 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Image on screen section */
.image {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgb(50,50,50);
  border: 1px white solid;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.showimage {
  float: left;
}

.image-gallery {
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgb(50,50,50);
  border: 1px white solid;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.galleryimage {
  float: right;
  margin-right: 500px;
}

/* Buttons */
button {
  color: red;
  background-color: rgb(50,50,50);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px white solid;
  padding: 8px;
}

button#next-image-button {
  margin-left: 120px;
}

button#like-image-button {
  margin-left: 90px;
}

button#next-image-button-gallery {
  margin-left: 263px;
}

button#next-image-button-trending {
  margin-left: 120px;
}

button:hover {
  background-color: rgb(240,240,240);
  color: black;
  cursor: pointer;
}

